div.geosearch-control-wrapper
    input.geo-autocomplete(type="search", data-bind="textInput: searchText", placeholder="Search place")
    div.geo-autocomplete-dropdown-wrapper()
        div.geo-autocomplete-dropdown()
            ul(data-bind="foreach: { data: searchResults, as: 'item' }")
                li(data-bind="click: $parent.onSelect")
                    geosearch-result-item(params="item: item")
