input.geo-autocomplete(type="text", data-bind="textInput: searchText")
div.geo-autocomplete-dropdown
    ul(data-bind="foreach: { data: searchResults, as: 'item' }")
        li
            geosearch-result-item(params="item: item")
