div.place-icon
    span(data-bind="attr: {'class': 'icon '+icon}")
div.place-description
    p(data-bind="text: formatted_address")
    p.place-coordinates(data-bind="if: preciseCoordinates")
        span lat:&nbsp;
        span(data-bind="text: preciseCoordinates.lat")
        span &nbsp;lng:&nbsp;
        span(data-bind="text: preciseCoordinates.lng")
    p(data-bind="if: countryLabel")
        span.label(data-bind="text: countryLabel")
    p(data-bind="foreach: {data: types, as: 'oneType'}")
        span.label(data-bind="text: oneType")
