section.details(data-old-bind="if: details, visible: details")
    section
        p.tweet-meta(data-old-bind="if: $data.coordinates")
            button.entity.notoggle(data-old-bind="click: showOnMapCoord")
                span.tweet-geocode(data-old-bind="text: geocodeComputed")
        p.tweet-meta(data-old-bind="if: place && place.bounding_box")
            button.entity.notoggle(data-old-bind="click: showOnMapPlace")
                span.tweet-near(data-old-bind="text: place.full_name")
        ul.tweet-media-list(data-old-bind="foreach: mediaList")
            li.tweet-media-element
                a(target="_blank", data-old-bind="attr: {href: expandedUrl}")
                    img.tweet-media-thumb.notoggle(data-old-bind="lazyLoadingImage: {container: 'ul#tweet-list', src: thumbnailUrl, checkVisibility: $parent.checkVisibility}")
        p.tweet-meta
            span.tweet-lang(data-old-bind="visible: lang, text: lang")
            span.tweet-source.notoggle(data-old-bind="html: source")
    section.tweet-checkin(data-old-bind="with: foursquareCheckinComputed")
        fieldset
            legend Foursquare checkin
            a.no-decoration(target="_blank", data-old-bind="attr: {href: venueUrl}")
                img.left.tweet-media-thumb(data-old-bind="visible: thumbnailUrl, lazyLoadingImage: {container: 'ul#tweet-list', src: thumbnailUrl, checkVisibility: $root.checkVisibility}")
                img.left.icon(data-old-bind="lazyLoadingImage: {container: 'ul#tweet-list', src: iconUrl, checkVisibility: $root.checkVisibility}, attr: {title: venueCategoryName}")
            p.checkin-name.notoggle(data-old-bind="visible: venueName")
                a.no-decoration(target="_blank", data-old-bind="attr: {href: venueUrl}")
                    span(data-old-bind="text: venueName")
            p.checkin-shout.notoggle(data-old-bind="visible: shout")
                a.no-decoration(target="_blank", data-old-bind="attr: {href: venueUrl}")
                    span(data-old-bind="text: shout")
            div.clear
            p(data-old-bind="visible: false")
                button.entity.notoggle
                    span Show on map
            a.no-decoration(target="_blank", data-old-bind="attr: {href: checkinUrl}")
                img.left.avatar.notoggle(data-old-bind="lazyLoadingImage: {container: 'ul#tweet-list', src: userAvatarUrl, checkVisibility: $root.checkVisibility}")
            p.checkin-user.notoggle
                a.no-decoration(target="_blank", data-old-bind="attr: {href: checkinUrl}")
                    span.full-name(data-old-bind="text: userFullName")
            div.clear
    section.tweet-video(data-old-bind="with: $data.youtubeVideos")
        ul.tweet-video-list(data-old-bind="foreach: $data")
            li(data-old-bind="youtubeIframe: {iframe: '.yt-iframe', id: $data}")
                div.yt-iframe
