//div.settings-wrapper(data-bind="visible: visible")
div.control-table
    div.control-item(data-bind="css: {'active': containsText.value}")
        div.control-label
            span.icon.icon-terminal
        div.control-label
            label(for="contains-text") Contains text
        div.control-element
            input(id="contains-text", type="text",  data-bind="textInput: containsText.value")
    div.control-item(data-bind="css: {'active': language.value}")
        div.control-label
            span.icon.icon-language
        div.control-label
            label(for="tweet-language") Specific language
        div.control-element
            input(list="tweet-language-list", id="tweet-language", type="text", data-bind="textInput: language.value")
            datalist(id="tweet-language-list", data-bind="foreach: {data: language.knownLanguages, as: 'lang'}")
                option(data-bind="text: lang")


