//div.settings-wrapper(data-bind="visible: visible")
div.control-table
    div.control-item(data-bind="css: {'active': containsText.value}")
        div.control-label
            span.icon.icon-terminal
        div.control-label
            label(for="contains-text") Contains text
        div.control-element
            input(id="contains-text", type="text",  data-bind="textInput: containsText.value")
    div.control-item(data-bind="css: {'active': geotagged.value}")
        div.control-label
            span.icon.icon-map-marker
        div.control-label
            label(for="really-geotagged") Really geotagged
        div.control-element
            input(id="really-geotagged", type="checkbox",  data-bind="checked: geotagged.value")


