div#selection-details(data-bind="if: geocoderResults().length")
    div.selection-details-wrapper
        p
            button.details-expand(data-bind="click: expandToggle")
                span.icon(data-bind="css: {'icon-plus-square': !expanded(), 'icon-minus-square': expanded()}")
            a(class="address", href="javascript:void 0", data-bind="with: geocoderFirstResult, click: function(){positionTo(geocoderFirstResult());}")
                span(data-bind="text: formatted_address")
            // ko foreach: geocoderRestResult
            span.tree-mark.icon.icon-chevron-left
            a(class="address", href="javascript:void 0", data-bind="click: $parent.positionTo")
                span(data-bind="text: formatted_address")
            // /ko

        p.radius-block
            label(for="selection-radius") Radius
            input(type="number", min="1", id="selection-radius", data-bind="textInput: radius")
            span m


