div.tweet-feed-control-wrapper
    div.tweet-feed-control
        label
            input(type="checkbox", data-bind="checked: showImmediate")
            span Show tweets immediate
        button(type="button", data-bind="visible: showShowButton, click: showHidedTweets")
            span.icon.icon-refresh
            span &nbsp;
            span(data-bind="text: countOfHidedTweets")
            span &nbsp;new tweets
        button(type="button", data-bind="enable: showResetButton, click: reset")
            span.icon.icon-rocket
            span &nbsp;Clear
