article
    section.tweet-left
        a.no-decoration.notoggle(data-bind="attr: {href: profileOriginalUrl}", target="_blank")
            img.avatar(data-bind="attr: {src: avatarUrl}")
    section.tweet-right
        p.tweet-usernames
            a.no-decoration.notoggle(data-bind="attr: {href: profileOriginalUrl}", target="_blank")
                span.full-name(data-bind="text: userOriginalName")
                span.screen-name(data-bind="text: userOriginalScreenName")
        p.tweet-text(data-bind="tweetText: {text: textOriginal, entities: entitiesOriginal}, css: {'text-rtl': useRtl}")
        p.tweet-meta
            a.no-decoration.notoggle(data-bind="attr: {href: tweetUrl}", target="_blank")
                time.tweet-date(data-bind='datetimeText: createdAtOriginal')
            span.retweet-from(data-bind="if: isRetweet") RT from
            a.no-decoration.notoggle(data-bind="attr: {href: profileSenderUrl}, if: isRetweet", target="_blank")
                span.screen-name(data-bind="text: senderScreenName")
        p.tweet-meta(data-bind='if: !!place')
            span Near&nbsp;
            span(data-bind='text: place.full_name')
