extends layout

block content
    div#testplayer
    div.account-card.text-center
        span Signed in as
        a.no-decoration(href= "https://twitter.com/"+userInfo.screen_name, target="_blank")
            span.screen-name #{userInfo.screen_name}
        a.logout(href="/logout") Sign-out
    h1.text-center= title
    div.view
        h2.text-center(data-bind='text: title')
        div.pane-left.pane(data-bind='css: {"control-hide": controlPanelHide}')
            div.pane.gmap-column
                input.geo-autocomplete(data-bind="geoAutocomplete: '.gmap'", type="search")
                div.gmap(data-bind='gmap: selectedLocation, statusOnMap: statusOnMap, setHeight: needSetHeight')
            div.pane.control-column
                div.controls(data-bind='setHeight: needSetHeight')
                    button.show-hide-controls(data-bind='click: toggleControlPanel')
                        span.icon.icon-equalizer
                    div.clear
                    div.control-table(data-bind='foreach: settings')
                        div.control-item
                            label.control-label(data-bind='attr: {"for": id, title: promptOrTitle}, text: name', for='use-stream-api')
                            div.control-element
                                input.control-element(data-bind='attr: {"id": id, "type": type, placeholder: promptOrTitle}, value: realValue, checked: checked', type='text')
        div.pane-right.pane
            ul#tweet-list.scroll(data-bind='setHeight: needSetHeight')
                button.button-show-incoming(data-bind='visible: hidedIncomingCount()>0, click: showHidedStatuses', style='display: none;')
                    span New statuses:&nbsp;
                    span(data-bind='text: hidedIncomingCount')
                div.preloader(data-bind='visible: restLoadingNow')
                button.button-request-previous(data-bind='click: needMore, visible: !restLoadingNow()', style='display: none;')
                    span Load more
    a(href="https://twitter.com/maxnetish", class="twitter-follow-button", data-show-count="false", data-lang="#{langCode}") Follow me
    script#tweet-template(type='text/html')
        include tweet_template_mini
    script#tweet-template-details(type='text/html')
        include tweet_template_details
    script window.langCode = "#{langCode}";
    script(data-main="javascripts/app/main.js", src="javascripts/lib/require.js")
    include backend_data_loader
    include twitter_follow_script