extends layout

block content
    div.account-card
        span Signed in as
        a.no-decoration(href= "https://twitter.com/"+userInfo.screen_name, target="_blank")
            span.screen-name #{userInfo.screen_name}
        a.logout(href="/logout") Sign-out
    div.preloader
    h1.text-center= title
    div.view
        h2.text-center(data-bind='text: title')
        div.pane-left
            button.search-button(type="button", data-bind="click: searchButtonClick") Update
            input.geo-autocomplete(data-bind="geoAutocomplete: '.gmap'", type="search")
            div.gmap(data-bind='gmap: selectedLocation, statusOnMap: statusOnMap')
            //span(data-bind='text: selectedLocation().center')
            //span.geo-radius-value(data-bind="text: searchRadius")
            //span(data-bind='text: selectedLocation().bounds')
            p
                span(data-bind='text: hidedIncomingCount')
                span &nbsp;hided
            p
                span(data-bind='text: displayedCount')
                span &nbsp;on screen
        div.pane-right
            button.button-show-incoming(data-bind='visible: hidedIncomingCount()>0, click: showHidedStatuses')
                span Show&nbsp;
                span(data-bind='text: hidedIncomingCount')
                span &nbsp;received statuses
            ul#tweet-list.scroll(data-bind='foreach: searchResult, endlessList: needMore')
                li.li-tweet
                    div.tweet-left
                        img.avatar(data-bind="attr: {src: isRetweet? retweeted_status.user.profile_image_url:user.profile_image_url}")
                    div.tweet-right
                        p.tweet-usernames
                            a.no-decoration(data-bind="attr: {href: $parent.getUserHref($data)}", target="_blank")
                                span.full-name(data-bind="text: isRetweet? retweeted_status.user.name : user.name")
                                span.screen-name(data-bind="text: isRetweet? retweeted_status.user.screen_name : user.screen_name")
                        p.tweet-text(data-bind='renderTweetTextContent: $data')
                        p.tweet-meta
                            a.no-decoration(data-bind="attr: {href: $parent.getStatusHref($data)}", target="_blank")
                                span.tweet-date(data-bind='tweetDate: $data')
                            span.retweet-from(data-bind="visible: isRetweet") RT from
                            a.no-decoration(data-bind="visible: isRetweet, attr: {href: $parent.getUserHref($data, true)}", target="_blank")
                                span.screen-name(data-bind="text: user.screen_name")
                        p.tweet-meta
                            a.entity(data-bind="visible: canShowOnMap, click: $parent.showTweetOnMap", href="javascript:void(0)")
                                span.show-on-map Show on map
    script(data-main="javascripts/app/main.js", src="javascripts/lib/require.js")
    //each val in clientScripts
    //    script(src=val)
    //script(src="http://maps.googleapis.com/maps/api/js?key="+googleAPiToken+"&sensor=true&libraries=places,geometry")

