doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?key='+googleApiToken+'&sensor=true&libraries=places')
    script(src='/javascripts/vmindex.js')
    script(src='/javascripts/models.js')
    script(src='/javascripts/binding.handlers.js')
    script
        $(document).ready(function(){
            var myVm=new vmIndex();
            ko.applyBindings(myVm);
        })
  body
    block content