div.controls(data-bind='setHeight: needSetHeight')
    button.show-hide-controls(data-bind='click: toggleControlPanel')
        span.icon.icon-wrench
    div.clear
    div.control-table(data-bind='foreach: settings')
        div.control-item
            div.control-label
                span.icon(data-bind='css: iconClass')
            div.control-label
                label(data-bind='attr: {"for": id, title: promptOrTitle}, text: name', for='use-stream-api')
            div.control-element
                input(data-bind='attr: {"id": id, "type": type, placeholder: promptOrTitle, list: suggestListId}, value: realValue, checked: checked, valueUpdate: "input"', type='text')
                datalist(data-bind='attr: {"id": suggestListId}, foreach: suggestList')
                    option(data-bind='attr: {"value": $data}')

