- // Created by Gordeev on 09.02.14.
li.li-tweet(data-bind="visible: visible, click: clickTweet")
    div.tweet-left
        a.no-decoration.notoggle(data-bind="attr: {href: profileUrl}", target="_blank")
            img.avatar(data-bind="attr: {src: avatarUrl}")
    div.tweet-right
        p.tweet-usernames
            a.no-decoration.notoggle(data-bind="attr: {href: profileUrl}", target="_blank")
                span.full-name(data-bind="text: realFullName")
                span.screen-name(data-bind="text: realScreenName")
        p.tweet-text(data-bind='renderTweetTextContent: $data')
        div.details(data-bind="if: details")
            p.tweet-id
                span Id:&nbsp;
                span(data-bind="text: id_str")
            p.tweet-place(data-bind="if: $data.place")
                span Place:&nbsp;
                span(data-bind="text: JSON.stringify($data.place)")
            p.tweet-coordinates(data-bind="if: $data.coordinates && $data.coordinates.coordinates")
                span Coordinates:&nbsp;
                span(data-bind="text: coordinates.coordinates[0]")
                span &nbsp;:&nbsp;
                span(data-bind="text: coordinates.coordinates[1]")
            p.tweet-favorite-count(data-bind="if: $data.favorite_count")
                span Favorited&nbsp;
                span(data-bind="text: favorite_count")
                span &nbsp;time(s)
            p.tweet-filter-level(data-bind="if: $data.filter_level")
                span Filter level:&nbsp;
                span(data-bind="text: filter_level")
            p.tweet-lang(data-bind="if: $data.lang")
                span Lang:&nbsp;
                span(data-bind="text: lang")
        p.tweet-meta
            a.no-decoration.notoggle(data-bind="attr: {href: statusUrl}", target="_blank")
                span.tweet-date(data-bind='tweetDate: $data')
            span.retweet-from(data-bind="if: isRetweet") RT from
            a.no-decoration.notoggle(data-bind="attr: {href: profileOriginalUrl}, if: isRetweet", target="_blank")
                span.screen-name(data-bind="text: user.screen_name")
        p.tweet-meta(data-bind='if: !!nearPlace')
            span Near&nbsp;
            span(data-bind='text: nearPlace')
        p.tweet-meta(data-bind="if: canShowOnMap")
            button.entity.notoggle(data-bind="click: showOnMap")
                span.show-on-map Show on map
