body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*
a {
    color: #00B7FF;
}
*/

a.no-decoration {
    text-decoration: none;
}

.preloader {
    background: url(../images/preloader.gif) no-repeat 50% 50%;
    height: 24px;
    width: 100%;
    visibility: hidden;
}

p {
    margin-bottom: 5px;
    margin-top: 0;
}

ul {
    padding-left: 0;
    list-style: none;
    margin:0;
}

h1, h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.view {
    text-align: center;
}

.pane-left {
    display: inline-block;
    width: 60%;
    text-align: left;
    vertical-align: top;
    margin: 5px;
}

.pane-right {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: top;
    margin: 5px;
}

.gmap {
    width: 100%;
    height: 480px;
    border: solid 1px;
}

.geo-autocomplete {
    width: 100%;
    padding-right: 0;
    margin-bottom: 5px;
}

.text-center {
    text-align: center;
}

.avatar {
    border-radius: 4px;
    border: solid 1px;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    vertical-align: top;
}

.account-info {
    display: inline-block;
    vertical-align: top;
}

.account-card {
    text-align: center;
}

.account-card span {
    margin-right: 5px;
}

.account-card .logout {
    margin-left: 10px;
}

.screen-name:before {
    content: '@';
}

li.li-tweet {
    /*display: inline-block;*/
    border-top: 1px solid #A9A9A9;
    padding: 5px;
    min-height: 50px;
}

li.li-tweet .tweet-right {
    margin-left: 58px;
    overflow: hidden;
}

li.li-tweet .tweet-left{
    float: left;
}

.full-name {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}

.screen-name {
    font-size: 12px;
    color: darkgray;
}

.tweet-date {
    font-size: 12px;
    color: darkgray;
    margin-right: 10px;
}

.retweet-from{
    font-size: 12px;
    color: darkgray;
    margin-right: 5px;
}

.geo-radius-input {
    width: 20%;
}

.geo-radius-value:after {
    content: ' m';
}

.search-button {
    float: right;
}

.search-type {
    margin-left: 15px;
}

.scroll{
    overflow-x: auto;
}

#tweet-list{
    height: 530px;
}

.entity{
    color: #0099B9;
    text-decoration: none;
}

.user-mention:before{
    content: '@';
}

.hashtag:before{
    content: '#';
}

.tweet-meta{
    font-size: 12px;
    color: darkgray;
}

.button-show-incoming span{
    /*margin-right: 1em;*/
}